<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215244382111-vdek0od74drifd4t59t53l2jlud66mnt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215244382111-vdek0od74drifd4t59t53l2jlud66mnt</string>
	<key>API_KEY</key>
	<string>AIzaSyA8kQOQJeZDwt8yUbzdhI4fwT64sUOUKmk</string>
	<key>GCM_SENDER_ID</key>
	<string>215244382111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avesDeSanMartin</string>
	<key>PROJECT_ID</key>
	<string>avesdesanmartin-54ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>avesdesanmartin-54ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215244382111:ios:2767902c3070a017a8e7aa</string>
</dict>
</plist>